body{
    margin: 20px;
    padding: 0;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #121034;
}

#container{
    
    background: radial-gradient(
        circle at 30% 10%,
        #EB03A2 4%,
        #2D1B69 77%
    );

width: 500px;
height: 600px;
border:#3DADFF;
border-style: solid;
border-radius: 25px;
position:absolute;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 0 15px #000000;
}


#screen{
    margin: 45px;
    background-color: #FFA0E4;
    width: 420px;
    height: 150px;
    position: relative;
    border-radius: 25px;
    border-color: #3DADFF;
    border-style: solid;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.35);
    font-size: 30px;
    color:#2D1B69;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


#keypad{

    width: 420px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-content: end; 

}

.pbtn{
    width: 90px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    background-color: #F849C1;
    color: white;
    font-weight: bold;
    font-size: 30px;

}

.bbtn{
 color: #2D1B69;
 font-size: 30px;
 background-color: #3DADFF;
 width: 70px;
 height: 60px;
 border-radius: 10px;
 border-style: none;
 font-weight: bold;
}

.del{
color: #2D1B69;
background-color: #3DADFF;
border-radius: 10px;
border-style: none;
width: 90px;
height: 60px;
font-size:25px ;
font-weight: bold;

}
.equal{
    color: #2D1B69;
    background-color: #3DADFF;
    border-radius: 10px;
    border-style: none;
    width: 90px;
    height: 60px;
    font-size:30px ;
    font-weight: bold;
}
.bbtn:hover{
    background-color: #B3DBF8;
}
 .pbtn:hover{
    background-color: #FBA2DF;
 }

 .del:hover{
    background-color:#B3DBF8;
 }
 .equal:hover{
    background-color:#B3DBF8;
 }

.bbtn:active,
.del:active,
.equal:active{
    background-color: #286FA3;
}

.pbtn:active{
   background-color: #992B76;

}
